.nav-class{
	background-color:#30619E;
}
.font-size{
	font-size: 25px;
}
.dot-icon{
	color:#F7C46C;
	font-size:10px;
}
.bg-color{
	background-color:#4D7EBA;
	border:1px solid #30619E;
}
.marketing-font{
	font-size:14px;
}
.bg-container{
	background-color:#F6F7F9;
}
.input-col-md{
	background-color:#346CB0;
}